<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false">

        <activity
            android:name=".presentation.LandingActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustResize" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="net.one97.paytm" />
        <package android:name="com.phonepe.app" />
        <package android:name="com.mobikwik_new" />
        <package android:name="com.mobiKwik" />
        <package android:name="in.gokiwi.kiwitpap" />
        <package android:name="com.naviapp" />
        <package android:name="in.super.money" />
        <package android:name="com.freecharge.android" />
        <package android:name="in.org.npci.upiapp" />
        <package android:name="com.dreamplug.androidapp" />
    </queries>
</manifest>